<h2 class="m-auto w-50 text-center">Edit Kitten Info</h2>

<%= render 'form', kitten: @kitten %>

<%= link_to 'Delete', kitten_path(@kitten), method: 'DELETE', class: 'text-center' %>
<br>
<%= link_to 'back', kitten_path %>
